* {
    box-sizing: border-box;
  }
body{
    background:#DCDCDC;
    font-size: 1rem;  
}

a.nav-link {
    color:#c7a658;
  }
  
  a.nav-link:hover{
    color: #c7a658;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .icon:hover{
    fill: #c7a658;
  }
  
  .navbar .navbar-toggler:focus {
    color: white;
  }
  
  .navbar .navbar-toggler{
    filter: invert(100%)
  }

  .navbar a{
    display: block;
    text-align: center;
    text-decoration: none;
  }

  .nav-item {
    margin: 0 5px; /* reduce the margin */
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 -5px; /* reduce the margin */
  }
  
  a:hover{
    text-decoration: underline;
    transition: all .3s ease;
    color:#c7a658;
  
  }
  
  .navbar a{
    display: block;
    text-align: center;
    text-decoration: none;
  }

  span {
    display: table;
    margin: 0 auto;
}

footer{
    bottom: 0;
    color:#fcb045;
    background-color: #af1d1c;
}
  
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    color: #fcb045;
  }
  .fa-instagram{
    color: #fcb045;
  }
  .fa-email{
    color:#fcb045;
  }
  .fa-youtube{
    color: #fcb045;
  }